.product-container{
    flex: 4;
    min-height: 60vh;
    margin-top: 4em;
}

.product-grid{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    row-gap: 2em;
}