
.hero-section{
  background-image: url(../../assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  width: 100%;
   
  display: flex ;
  justify-content: center;
  align-items: center;
}

.hero-text{
    font: bolder;
    color: white;
    font-size: clamp(5em, 20vw, 50em);
}

.main-container{
  display: flex;
}