
.product-card-container button{
    padding: 5px 1em ;
    border-radius: 20px;
    border: none;
    width: 50%;
    margin: 3px 5px;
}

.product-image{
    width: 100%;
    height: auto;
    max-width: 30em;
    border-radius: 10px;
    min-height: 20em;
    background-color: rgb(196, 196, 196);
}

.cart-btn{
  background-color: white;
}

.buy-btn{
    background-color: black;
    color: gainsboro;
}

.btn-container{
    display: flex;
}

.price-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-container{
    display: flex;
    margin: 8px 0px;
}

.price{
    font: bold;
}