header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    gap: 3em;
}

header nav ul a{
    text-decoration: none;
    font-size: 1.5em;
    font: bolder;
}

.right{
    display: flex;
    gap: 2em;
    align-items: center;
}

.right img{
    padding: 1em;
    border-radius: 20px;
    background-color: gainsboro;
}

@media (max-width:678px) {
    nav{
        display: none;
    }
}