.recommend-section{
    min-height: 40vh;
    margin: 4em 1em;
}

.recommend-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommend-grid{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2em;
}